.openerp .oe_application .oe_dashboard .oe_form_sheetbg{
    background: none !important;
    padding: 0px !important;
}

.openerp .oe_application .oe_dashboard .oe_form_sheet{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.openerp .oe_dashboard .oe_form_sheet_width{
    min-width: auto !important;
    max-width: auto !important;
} 
