<?xml version="1.0" encoding="utf-8"?>
<openerp>
	<data>
		
		<!-- Project Specific -->	
		<menuitem name="VietERP Permission" sequence="-1"
			id="menu_vieterp_permission" parent="base.menu_administration"/>
			
			<menuitem name="Người dùng" sequence="10"
				id="menu_vieterp_permission_user" parent="menu_vieterp_permission"
				action="action_res_users"/>
			
			<menuitem name="Nhóm người dùng" sequence="20"
				id="menu_vieterp_permission_group_user" parent="menu_vieterp_permission"
				action="action_v_groups"/>
			
			<menuitem name="ir_model" sequence="30"
				id="menu_vieterp_permission_ir_model" parent="menu_vieterp_permission"
				action="action_ir_model"/>
			
			<menuitem name="Đối tượng" sequence="40"
				id="menu_vieterp_permission_objects" parent="menu_vieterp_permission"
				action="action_v_objects"/>
			
			<menuitem name="Phân quyền" sequence="50"
				id="menu_vieterp_permission_permission" parent="menu_vieterp_permission"
				action="action_tree_v_access"/>
			
			<!-- <menuitem name="Đối tượng - old" sequence="35"
				id="menu_vieterp_permission_group_title" parent="menu_vieterp_permission"
				action="action_tree_ir_model_depend"/>
				
			<menuitem name="Đối tượng chi tiết" sequence="40"
				id="menu_vieterp_permission_group_object" parent="menu_vieterp_permission"
				action="action_tree_ir_model_depend_detail"/>
				
			 -->
				
	</data>
</openerp>