<?xml version="1.0" encoding="utf-8"?>
<openerp>
	<data>
		
		<menuitem name="Lõi gói thầu" sequence="200"
				id="menu_ptt_lgt" parent="snc_base.menu_ptt"/>
				<menuitem name="Bỏ phiếu" sequence="10" action="action_tree_vote"
					id="menu_ptt_lgt_vote" parent="menu_ptt_lgt"/>
				<menuitem name="Phân quyền" sequence="10" action="act_window_res_groups"
					id="menu_ptt_lgt_access_right" parent="menu_ptt_lgt"/>
		
		<menuitem name="Quản lý gói thầu" sequence="300"
				id="menu_dang_tin_quan_ly_goi_thau" parent="snc_base.menu_dang_tin"/>
				<menuitem name="Gói thầu" sequence="1" action="action_tree_goi_thau"
					id="menu_dang_tin_quan_ly_goi_thau_goi_thau" parent="menu_dang_tin_quan_ly_goi_thau"/>
							
	</data>
</openerp>