.widget_poll{
	
}
.widget_poll > .container{
	
}
.widget_poll > .container > table{
	width: 100%;
}
.widget_poll > .container > table th,
.widget_poll > .container > table td{
	padding: 3px;
	text-align: center;
}
.widget_poll > .container > table td input[type="textbox"]{
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px;
}
