/*.openerp .oe_form_editable table.oe_list_content .oe_view_only,
.openerp .oe_form_readonly table.oe_list_content .oe_edit_only{
	width: 0px !important;
	display: none !important;
}*/
/*for list view*/
.openerp .oe_list.oe_view.oe_list_editable .oe_edit_only{
	display: none !important;
}
.openerp .oe_list.oe_view.oe_list_editable.oe_editing .oe_view_only{
	display: none !important;
}
.openerp .oe_list.oe_view.oe_list_editable.oe_editing .oe_edit_only{
	display: table-cell !important;
}
/*force for list view inside form view*/
.openerp .oe_form_editable table.oe_list_content .oe_view_only{
	display: none !important;
}
.openerp .oe_form_editable table.oe_list_content .oe_edit_only,
.openerp .oe_form_editable .oe_list.oe_view.oe_list_editable .oe_edit_only{
	display: table-cell !important;
}

.openerp .oe_list_group_pagination{
	text-align: center;
	cursor: default;
}
.openerp .oe_list_group_pagination button{
	padding: 0px;
	padding-left: 10px !important;
	padding-right: 10px !important;
	border: none;
	background: transparent;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.openerp thead th {
	border-left: 1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf !important;
}

