<?xml version="1.0" encoding="utf-8"?>
<openerp>
	<data>
		
		<menuitem name="Quản lý chủ đề" sequence="100"
			id="menu_dang_tin_quan_ly_chu_de" parent="snc_base.menu_dang_tin"/>
			<menuitem name="Chủ đề bài viết" sequence="10" action="action_tree_article_topic"
				id="menu_dang_tin_quan_ly_chu_de_article_topic" parent="menu_dang_tin_quan_ly_chu_de"/>
		
		<menuitem name="Quản lý bài viết" sequence="200"
			id="menu_dang_tin_quan_ly_bai_viet" parent="snc_base.menu_dang_tin"/>
			<menuitem name="Bài viết cố định" sequence="10" action="action_tree_article_fix"
				id="menu_dang_tin_quan_ly_bai_viet_bai_viet_co_dinh" parent="menu_dang_tin_quan_ly_bai_viet"/>			
			<menuitem name="Bản tin audio" sequence="20" action="action_tree_article_audio"
				id="menu_dang_tin_quan_ly_bai_viet_ban_tin_audio" parent="menu_dang_tin_quan_ly_bai_viet"/>
			<menuitem name="Bài viết theo chủ đề" sequence="30" action="action_tree_article"
			id="menu_dang_tin_quan_ly_bai_viet_article" parent="menu_dang_tin_quan_ly_bai_viet"/>
		
	</data>
</openerp>