.ui-datepicker.ui-datepicker-multi {
	width: 1050px !important;
	margin-left: 50px;
}

.ui-datepicker-multi .ui-datepicker-group {
float: left;
width: 250px;
height: 220px;
margin: 5px;
border: 1px solid gray;
}

.ui-datepicker .ui-datepicker-header {
position: relative;
padding: .2em 0;
border: 0px;
font-weight: bold;
width: 100%;
padding: 4px 0;
background-color: #0101DF;
color: #FFF;
}

.ui-datepicker-multi .ui-datepicker-group table {
width: 100%;
margin: 0 auto .4em;
}

.ui-state-active{
	background: #F20F0F;
}

.ui-datepicker thead th {
border-left: 1px solid rgb(223, 223, 223);
border-top: 1px solid rgb(223, 223, 223) !important;
height: 20px;
color: #000;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
display: none;
position: absolute;
left: 50%;
margin-left: -8px;
top: 50%;
margin-top: -8px;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
	border: 0px;
	font-weight: bold;
	width: 100%;
	padding: 4px 0;
	background-color: rgb(1, 1, 223);
	color: rgb(255, 255, 255);
}

/*------------Css for dialog----------------*/
.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	background: none;
	overflow: auto;
	margin-left: 30px;
	zoom: 1;
	padding: 0px;
}
.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin: 0;
	background-color: rgb(255, 255, 255);
	padding: 5px 15px 5px;
	border-top: 1px solid rgb(221, 221, 221);
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 0 rgb(255, 255, 255);
	-moz-box-shadow: inset 0 1px 0 #ffffff;
	box-shadow: inset 0 1px 0 rgb(255, 255, 255);
	zoom: 1;
	margin-bottom: 0;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
	margin-bottom: -10px;
}

/*------Css for template custom--------*/
#lme_trading_custom_type {
	width: 600px;
	height: 50px;
	margin: 0 auto;
}
#lme_trading_custom_type p {
	width: 150px;
	margin-top: 6px;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	margin-left: 20px;
	border: rgb(254, 46, 100);
	padding: 10px;
	float: left;
	text-align: center;
}
#lme_trading_custom_type #lme_close{
	background: rgb(255, 0, 0);
}
#lme_trading_custom_type #lme_non_prompts{
	background: rgb(254, 154, 46);
}
#lme_trading_custom_type #lme_third_wed{
	background: rgb(64, 255, 0);
}


/*--------Show date LME------*/
.lme-trading-close{background: rgb(255, 0, 0) !important;}
.lme-trading-non-prompts{background: rgb(254, 154, 46) !important;}
.lme-trading-third-webnesday{background: rgb(64, 255, 0) !important;}
.lme-trading-close .ui-state-active{background-color: rgb(255, 0, 0) !important;}
.lme-trading-non-prompts .ui-state-active {background: rgb(254, 154, 46) !important;}
.lme-trading-third-webnesday .ui-state-active{background: rgb(64, 255, 0) !important;}

.lme-trading-three-type{background: url('/snc_lme/static/images/3loai.png') !important;}
.lme-trading-tw-o{background: url('../../snc_lme/static/images/2loai-TW-O.png') !important;}
.lme-trading-tw-x{background: url('../../snc_lme/static/images/2loai-TW-X.png') !important;}
.lme-trading-o-x{background: url('../../snc_lme/static/images/2loai-O-X.png') !important;}
.lme-trading-three-type .ui-state-active{background: url('../../snc_lme/static/images/3loai.png') !important;}
.lme-trading-tw-o .ui-state-active{background: url('../../snc_lme/static/images/2loai-TW-O.png') !important;}
.lme-trading-tw-x .ui-state-active{background: url('../../snc_lme/static/images/2loai-TW-X.png') !important;}
.lme-trading-o-x .ui-state-active{background: url('../../snc_lme/static/images/2loai-O-X.png') !important;}


