<?xml version="1.0" encoding="utf-8"?>
<openerp>
	<data>
		
		<menuitem id="workflow_test" name="Workflow" sequence="10000" />
		
			<menuitem id="workflow_test_view" name="Workflow" parent="workflow_test" sequence="100" />
			
				<menuitem name="Workflow" action="act_window_mymod" sequence="10"
					id="workflow_test_view_view" parent="workflow_test_view"/>
					
		
		
	</data>
</openerp>