table.vieterp_permission thead th[data-id="perm_read"] div,
table.vieterp_permission thead th[data-id="perm_write"] div,
table.vieterp_permission thead th[data-id="perm_create"] div,
table.vieterp_permission thead th[data-id="perm_unlink"] div,
table.vieterp_permission thead th[data-id="perm_manage"] div{
	text-align: center;
}

table.vieterp_permission tbody{
	cursor: default !important;
}
table.vieterp_permission .perm_container[data-real-value="true"],
table.vieterp_permission .oe_group_header > td[data-real-value="true"]{
	background-color: #3da15b !important;
}
table.vieterp_permission .btn_perm{
	width: 95% !important;
	height: 20px !important;
	background-color: transparent !important;
	border: 0px !important;
	background-image: url("/vieterp_permission/static/img/cbx0.png") !important;
	background-position: center center !important;	
	background-repeat: no-repeat !important;
	cursor: pointer !important;
}
table.vieterp_permission .perm_container[data-value="0"] .btn_perm,
table.vieterp_permission .oe_group_header > td[data-value="0"] .btn_perm{
	background-image: url("/vieterp_permission/static/img/cbx0.png") !important;
}
table.vieterp_permission .perm_container[data-value="1"] .btn_perm,
table.vieterp_permission .oe_group_header > td[data-value="1"] .btn_perm{
	background-image: url("/vieterp_permission/static/img/cbx1.png") !important;
}
table.vieterp_permission .perm_container[data-value="2"] .btn_perm,
table.vieterp_permission .oe_group_header > td[data-value="2"] .btn_perm{
	background-image: url("/vieterp_permission/static/img/cbx2.png") !important;
}
