<?xml version="1.0" encoding="utf-8"?>
<openerp>
	<data>
		
		<menuitem name="Quản lý quyền" sequence="300"
			id="menu_snc_access" parent="snc_base.menu_qtht"/>
			
			<menuitem name="Nhóm người dùng" sequence="10"
				id="menu_snc_access_group" parent="menu_snc_access"
				action="act_window_res_groups"/>
			
			<menuitem name="Người dùng" sequence="20"
				id="menu_snc_access_user" parent="menu_snc_access"
				action="act_window_res_users"/>
				
			<!-- <menuitem name="Phân quyền" sequence="30"
				id="menu_snc_access_access" parent="menu_snc_access"
				action="vieterp_base.action_tmp"/> -->
		
	</data>
</openerp>