<?xml version="1.0" encoding="utf-8"?>
<openerp>
	<data>
		
		<menuitem name="Tuần" parent="snc_base.menu_ptt_cc_nd_qt"
			id="menu_ptt_cc_nd_qt_tuan" sequence="20"/>
		
			<menuitem name="Thiết lập" parent="menu_ptt_cc_nd_qt_tuan"
				id="menu_ptt_cc_nd_qt_tuan_tl" sequence="10" action="act_window_snc_nhan_dinh_tuan_setup"/>
			
			<menuitem name="Phân quyền" parent="menu_ptt_cc_nd_qt_tuan"
				id="menu_ptt_cc_nd_qt_tuan_pq" sequence="20" action="act_window_res_groups"/>
			
		<menuitem name="Tuần" parent="snc_base.menu_ptt_cc_nd_ts"
			id="menu_ptt_cc_nd_ts_tuan" sequence="20" action="action_tree_nhan_dinh_tuan_trong_so"/>
			
		<menuitem name="Tuần" parent="snc_base.menu_ptt_cc_nd_tk"
			id="menu_ptt_cc_nd_tk_tuan" sequence="20" action="action_tree_nhan_dinh_tuan_thong_ke"/>	
		
		<menuitem name="Tuần" parent="snc_base.menu_ptt_cc_nd_nd"
			id="menu_ptt_cc_nd_nd_tuan" sequence="20" action="act_window_snc_nhan_dinh_tuan"/>
					
	</data>
</openerp>