<?xml version="1.0" encoding="utf-8"?>
<openerp>
	<data>
		
		<menuitem name="LME" sequence="500"
				id="menu_ptt_lme" parent="snc_base.menu_ptt"/>		
				
				<menuitem name="Tổng hợp LME" sequence="5"
					id="menu_ptt_lme_th" parent="menu_ptt_lme"
					action="act_window_snc_lme"/>
					
				<menuitem name="Trực giá LME" sequence="10"
					id="menu_ptt_lme_tg" parent="menu_ptt_lme"
					action="action_tree_truc_gia_lme"/>
					
				<!-- <menuitem name="Cập nhật trực giá LME" sequence="5"
					id="menu_ptt_lme_th_update_lme_tg" parent="menu_ptt_lme"
					action="action_snc_lme_update_wizard"/> -->	
					
				<menuitem name="Biểu đồ trực giá LME" sequence="20"
					id="menu_ptt_lme_bdtg" parent="menu_ptt_lme"
					action="action_graph_truc_gia_lme"/>
					
				<!-- <menuitem name="LME Trading" sequence="30"
					id="menu_ptt_lme_lme_trading" parent="menu_ptt_lme"
					action="action_calendar_lme_trading"/> -->
				
				<menuitem name="LME Trading" sequence="40"
					id="menu_ptt_lme_lme_trading_2" parent="menu_ptt_lme"
					action="act_window_custom_snc_lme_trading"/>
					
	</data>
</openerp>